* {
  margin: 0;
  padding: 0;
}

:root{
  font-size: 10px;
}

body {
    /* max-height: 95vh; */
    background-image: url("../images/StarWars2.jpg");
    background-size: cover;
  }

  .logo {
    display: block;
    width: 100%;
    text-align: center;
  }
  .logo img {
    height: 3.5rem;
    padding: 2rem;
  }
  
  #mapGrid {
    display: block;
  }
  
  .mapGridRow {
    align-content: center;
    justify-content: center;
    margin: auto;
    display: flex;
    /* flex: 1 100%; */
    flex-direction: row;
    
  }
  
  .mapSquare {
    height: 5.25rem;
    width: 5.25rem;
    background-color: rgba(255, 255, 255, 0.8);
    border: solid 1px black;
  }
  
  .mapSquare:hover {
    cursor: pointer;
  }
  
  .availableSquare {
    box-shadow: inset 0 0 10px black;
  }
  
  .blockedSquare {
    background-color: black;
    opacity: 100%;
    background-image: url("../images/startrooper.png");
    background-size: cover;
    cursor: not-allowed;
  }
  
  .blockedSquare:hover {
    background-size: cover;
    cursor: not-allowed;
  }

  .weapon {
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .Stunner {
    background-image: url("../images/stunner.png");
      }
  
  .Blaster {
    background-image: url("../images/blaster.png");
  }
  
  .Lightsaber {
    background-image: url("../images/lightsaber.png");
  }
  
  .Darksaber {
    background-image: url("../images/darksaber.png");
  }

  .Player1 {
    background-image: url("../images/Luke.png");
    background-color: rgba(10, 230, 10, 0.8);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .Player2 {
    background-image: url("../images/Anakin.png");
    background-color: rgba(255, 0, 0, 0.8);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }


  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }

  .flex-item-1 {
    flex-basis: 30%;
    color: white;
  }
  
  .flex-item-2 {
    flex-basis: 60%;
  }

  .flex-item-3 {
    flex-basis: 30%;
    color: white;
  }


  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(136, 136, 136, 0);
  }
  
  /* Modal Content */
  .modal-content {
    /* background-color: #fefefe; */
    height: 80%;
    width: 80%;
    text-align: center;
    white-space: nowrap;
  }

.flex-container > div {
    background-color: #fefefe;
    margin: 3rem;
    padding: 5rem;
    font-size: 18px;
}

.current-player {
  padding-bottom: 13rem;
}

#attack>button{
  background-color: rgba(255, 0, 0, 0.712);
  color: white;
}
#defend>button{
  background-color: rgba(0, 128, 0, 0.658);
  color: white;
}
  
  .fight-buttons{
    /* height: 50%; */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
  }



  @media only screen and (max-width: 500px) {
    body {
      display: block;
    }
    .mapSquare {
    height: 4rem;
    width: 4rem;
    }

    .flex-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
    }
    .current-player {
      padding-bottom: 0rem;
    }
    .modal {
      font-size: 14px;
      overflow: auto;
      background-color: rgba(136, 136, 136, 0);
    }
  
  }